/day 2.ipynb
/day1 (opp).ipynb
/day10.ipynb
/day3.ipynb
/ei_leadership_flowchart
/ei_leadership_strategies_flowchart
/index.html
/index2.html
/linkedlists.py
/opt.py
/Python Dictionaries.pdf
/Python Lists(opp).pdf
/Python Lists.pdf
/Python Sets.pdf
/Python tuples.pdf
/submision.py
/table_2_1_comparison_ei_models.csv
/table_4_2_regression_analysis.csv
/WhatsApp Image 2024-12-11 at 10.25.17_2cf44f7d.jpg
/WhatsApp Image 2024-12-11 at 10.25.53_867e471b.jpg